<link rel="stylesheet" href="~/Style/JasonJT/Info/Style.less">

@{
    ViewBag.Title = "JasonJT - AGB";
}

<h2>AGB</h2>

<h4>Fremde Medien</h4>

<p>
    Die sich auf dieser Seite befindenden Bilder, sind nicht eigenerstellt.
    Ich besitze keine Rechte an irgend einem dieser Bilder, außer an den Bildern,
    auf denen Ich zu sehen bin.
</p>

<h4>Ich glaub mehr gibt es nicht :D</h4>
