@{
    ViewBag.Title = "JasonJT - Home Page";
}

<br />
<br />

<!-- Info Box -->
<div class="InfoBox Info container">
    <div class="row">
        <div class="col-md-1">
            <img src="~/src/Icons/Icons/Settings.svg" class="InfoIcon" />
        </div>
        <div class="col-md-10">
            <p class="InfoText">
                Diese Seite befindet sich noch im Aufbau und wird regelmäßig erneuert.<br />
                Der Login/Register und die Tests funktionieren noch nicht.<br />
                Die Texte und Inhalte sind auch erst mal provisorisch und werden noch angepasst.<br />
                Über das Aussehen und das Verhalten auf verschiedenen Geräten reden wir mal nicht darüber. Step by Step.<br />
                Rechtschreibung ist wie man merkt auch nicht so meine Stärke...
            </p>
        </div>
        <div class="col-md-1">
            <span class="closebtn col-md-1" onclick="document.getElementsByClassName('InfoBox')[0].style.display='none';">&times;</span>
        </div>
    </div>
</div>

<br />
<br />

<h2>Inhalt dieser Seite</h2>

<p>
    Du bist auf der Suche herauszufinden, wer du wirklich bist?<br />
    Du bist dir nicht ganz im klaren über deine Sexualität, wärst es aber gerne?<br />
    Du hast vor dich zu outen, doch brauchst Hilfe dabei?<br />
    <br />
    Dann bist du hier auf dieser Seite genau richtig.
    Ich selbst habe mich nicht einmal vor all zu langer Zeit geoutet und weiß,
    wie es ist oder sein kann. Ich habe selber den langen und beschwerlichen
    Weg gewählt, bis ich dazu keine Lust mehr hatte. Ich habe anfangs selbst Hilfe
    gesucht und teilweiße gefunden. Letztendlich musst du den Mut fassen und auf die
    Person zugehen und um Rat fragen. Ebenso, musst du dich selbst outen.
    Es ist wie beim Psychologen, er hilft dir nicht wirklich, er versucht dir zu helfen,
    dass du dir selbst helfen kannst. Ähnlich musst du es hier und auf allen anderen Platformen
    auch betrachen.
    Ich kann dir meine Hilfe, Erfahrung anbieten und versuchen dir auf deinem Weg
    zum glücklich sein zu helfen. Das ist auch der Grund, weshalb ich diese Seite entwickle.
    Ich möchte generell Leuten helfen und als Softwarentwickler gibt es da nicht so viele Wege, somit versuche ich es auf diesem Weg.
    Ich kann dir abgesehen von mir nur <a href="#">QT Candor</a> empfehlen, mit ihm hatte ich eine kleine nette Unterhaltung.
    Ebenfalls kann ich dir nur empfehlen mal die Webseiten anzuschauen. Es gibt viele interresante Informationen zu finden,
    die dir eventuell weiter helfen können. Ansonsten kann ich nur sagen, such den Kontakt und ein Gespräch mit anderen.
    Warte nicht zu lange, doch überstürze auch nichts. Du sollst dich wohl fühlen und nicht unwohl, sonst macht
    das ganze hier wenig Sin. Ich glaube es ist normal, dass man zurückhaltend und verklemmt ist sofern man sich noch nicht
    ganz im klaren über einen selbst ist. Ich kann nur sagen, dass ich bei dem Test ehrlich war, da es ein Online Test ist,
    also gibt es keinen, der meie Antworten anschaut und ich wollte ja auch ein richtiges Ergebnis oder eine Richtung.
    Ich muss dazu auch sagen, dass es bei mir ein Mix aus klarheit und ungewissheit war, obwohl es irgentwo doch recht
    offensichtlich ist/war. Bei dem Gespräch jedoch war das ganze nicht so einfach. Es war eine fremde Person, die mich nicht
    kennt und bei der es eigentlich egal ist, doch ich konnte zu dieser Zeit nur schwammige Antworten geben und es war recht
    unangenehm. Nicht die Unterhaltung an sich, im gegenteil ich hab die Unterhaltung irgentwo echt genossen, nein eher das 
    Gefühl, du willst aber kannst irgentwo nicht. Das habe ich so grob auch als Feedback bekommen (noch eher zurückhaltend,
    doch offener als manch anderer). In meinem <a href="#">Outing</a> habe ich geschrieben, wie ich und warum ich es gemacht habe.
    Kurz gesagt, hatte ich keine lust mehr es zu verstecken und dass ich seit der Grundschule auf Jungs steh und eher auf Jungs achte
    konnte ich schlecht mir selbst leugnen. Also habe ich es meiner Mutter, Verwandschaft und Freunden mitgeteilt und ich kann nur sagen,
    ich hätte es schon vor Jahren machen sollen! Seit dem kann ich für mich sagen, ich bin seit diesem Tag einfach glücklicher.
    Ich verhalte mich wie ich es bin und verstelle es nicht auch wenn ich das zuvor nicht wirklich gemacht habe.
    Ich konnte auch zuvor mit anderen über Sex oder Geschlechts Themen reden, doch nur sofern es dabei nicht um mich ging.
    Naja seit dem Tag, kannst du mit mir eigentlich über alles reden. Es gibt zwar noch hier und da eine kleine verklemtheit im Alltag,
    doch es legt sich immer mehr.

</p>

@*<img src="~/src/JasonJT/Me/1.jpg" style="height: 450px; width: 300px;" />*@

<br />
<br />
