
@{
    ViewBag.Title = "JasonJT - Testing";
}

<h2>Test</h2>

<!-- BuR -->
<h1 style="background: var(--BlueAndRedGradient);">JasonJT</h1>
<!-- Blur -->
<div id="lol" style="filter: blur(2px); -webkit-filter: blur(2px);">
    <!-- Multi Color Gradient -->
    <h1 style="background: var(--RainbowGradient);">JasonJT</h1>
</div>
<!-- Gradient RuB with Border Style -->
<h1 style="background: var(--BlueAndRedGradient); box-shadow: 0 0 10px #9ecaed;">JasonJT</h1>

<div style="height: 800px; width: 100%; background: linear-gradient(to right, #d4223f 0%, #384de8 100%); ">
    <!--#d4223f, #e8385e-->
    <img src="~/src/Images/Wave_Background.png" style="bottom: 0; position: absolute;" />
</div>
